<h1>Listing micropsots</h1>

<table>
  <tr>
    <th>Ontent</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @micropsots.each do |micropsot| %>
  <tr>
    <td><%= micropsot.ontent %></td>
    <td><%= micropsot.user_id %></td>
    <td><%= link_to 'Show', micropsot %></td>
    <td><%= link_to 'Edit', edit_micropsot_path(micropsot) %></td>
    <td><%= link_to 'Destroy', micropsot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Micropsot', new_micropsot_path %>
